/* Reset */
.panel-body .table {
    margin-bottom: 0;
}
.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/* 后台菜单 */
.list-group-item.active a {
    color: #fff;
}
