div.required > label:after {
    content: " *";
    color: red;
}
.dl-horizontal-xs dt {
    width: 100px !important;
}
.dl-horizontal-xs dd {
    margin-left: 120px !important;
}
.mb20 {
    margin-bottom: 20px;
}
/* ============= 自定义菜单 ============= */
.menus .dndDraggingSource, .sub-menus .dndDraggingSource {
    display: none;
}
.menus .dndPlaceholder {
    display: table-cell;
    float: none;
    width: 1%;
}
.sub-menus .dndPlaceholder {
    min-height: 32px;
}
.sub-menus {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
}
.menu, .sub-menu {
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.menu .close, .sub-menu .close {
    position: absolute;
    right: 6px;
    top: 4px;
    display: none;
}
.menu > .btn:active, .sub-menu.btn:active {
    cursor: move;
}
.menu:hover .close, .sub-menu:hover .close {
    display: block;
}
