.dl-horizontal-xs dt {
    width: 100px !important;
}
.dl-horizontal-xs dd {
    margin-left: 120px !important;
}
.mb20 {
    margin-bottom: 20px;
}
/* ============= 自定义菜单 ============= */
.menus {
}
.sub-menus {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
}
.menu, .sub-menu {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.menu .close, .sub-menu .close {
    display: none;
}
.menu:hover .close, .sub-menu:hover .close {
    display: block;
}
